{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome, {{ current_user.username }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('image_processing') }}"
            >Image Processing</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('image_forgery') }}"
            >Image Forgery Detection</a
          >
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('feedback') }}"
            >Feedback</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="{{ url_for('logout') }}"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h2 class="mb-4">Dashboard</h2>
  <p>Select a tab from the navbar to continue.</p>
</div>
{% endblock %}
